/* You can add global styles to this file, and also import other style files */
.breadcrumb {
  background: #f8f9fa;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '\027F6'
}

.cool-btn-wrap {
  width: 100%;
}
.cool-btn-wrap .btn {
  width: 100%;
  text-align: center;
  flex: 1;
}
.cool-btn-wrap .btn:nth-child(2) {
  margin-top: 1em;
}
